<div class="container mt-3">
  <div class="row justify-content-center">
    <section class="text-sm-start background-img">
      <div class="row mb-3 mt-3">
        <div class="col-12">
          <h4>About Me</h4>
          <img class="img-fluid w-20 d-none d-sm-block m-2 float-end" width="300" src="assets/aboutme.png" alt="aboutme" />
          <p class="mt-4 mb-4">
            Hello! My name is Vito Colangelo. I am a Full-Stack Software Engineer.
            <br />
            Passionate about what i do and always learning something new everyday.
            <br />
            This project is one of my biggest accomplishment and i hope you can enjoy this application and learn something new as well.
          </p>
          <p class="mt-4 mb-4">If you find any bugs, please feel free to open an issue in the respective GitHub repository.</p>
        </div>
      </div>
    </section>
  </div>
</div>
