<div class="container mt-3">
  <div class="row justify-content-center">
    <section class="text-sm-start background-img">
      <div class="row mb-3 mt-3">
        <div class="col-12">
          <h4>About Me</h4>
          <img class="img-fluid w-20 d-none d-sm-block m-2 float-end" width="300" src="assets/aboutme.png" alt="aboutme" />
          <p class="mt-4 mb-4">
            Hello! My name is Vito Colangelo. I am a Full-Stack Software Engineer.
            <br />
            I am passionate about my job and I learn something new every day.
            <br />
            I hope you enjoy this Web-Application and learn something new as well.
          </p>
          <p class="mt-4 mb-4">
            If you encounter any bugs, please feel free to open an issue in the respective
            <a href="https://github.com/vitoco84/decovid-19-core" class="link-light" target="_blank" rel="noreferrer noopener">GitHub</a> repository.
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
