<div class="container mt-3">
  <div class="row d-flex justify-content-center">
    <section class="text-sm-start">
      <div class="m-2 mt-4 mb-4">
        <h4>About Me</h4>
        <img class="img-fluid w-20 d-none d-sm-block m-2 float-end" src="assets/aboutme.png" alt="aboutme" />
        <ol class="list-group-horizontal-sm">
          <li class="list-group-item">Hello! My name is Vito Colangelo. I am a Full-Stack Software Engineer.</li>
        </ol>
        <ol class="list-group-horizontal-sm">
          <li class="list-group-item">Hello! My name is Vito Colangelo. I am a Full-Stack Software Engineer.</li>
        </ol>
      </div>

      <div class="m-2 mt-4 mb-4">
        <h4>Interest in following technologies</h4>
        <ol class="list-group-horizontal-sm">
          <li class="list-group-item">Java</li>
          <li class="list-group-item">Kotlin</li>
          <li class="list-group-item">TypeScript</li>
          <li class="list-group-item">Spring Boot</li>
          <li class="list-group-item">Angular</li>
        </ol>
      </div>
    </section>
  </div>
</div>
