<div class="container mt-3">
  <div class="row d-flex justify-content-center">
    <section class="text-sm-start">
      <div class="m-2 mt-4 mb-4">
        <h4>Base45 Decoder</h4>
      </div>

      <div class="m-2">
        <label for="stringInput" class="form-label">Input</label>
        <input class="form-control form-control-sm" type="text" id="stringInput" placeholder="Input" #stringInput />
        <button type="submit" class="btn btn-light btn-sm mt-2" (click)="decodeBase45(stringInput.value)">Decode from Base45</button>
      </div>

      <div *ngIf="errorHandlerService.httpErrorResponse" class="m-2 text-danger">{{ errorHandlerService.httpErrorResponse.error }}</div>
      <div *ngIf="errorHandlerService.httpErrorResponse" class="m-2 text-danger">{{ errorHandlerService.httpErrorResponse.message }}</div>
      <div *ngIf="errorHandlerService.validationErrorServerResponse" class="m-2 text-danger">
        <ul>
          <li *ngFor="let errors of errorHandlerService.validationErrorServerResponse.validationErrors">{{ errors.fieldName }}: {{ errors.message }}</li>
        </ul>
      </div>

      <div *ngIf="base45ServerResponse" class="m-2">
        <label for="base45EncodedOutput" class="form-label">Base45 Encoded Output</label>
        <textarea class="col-md-12" name="base45EncodedOutput" id="base45EncodedOutput" rows="10" [(ngModel)]="base45ServerResponse"></textarea>
      </div>
    </section>
  </div>
</div>
