<div class="container">
  <section class="text-sm-start">
    <label for="qrCodeFile" class="form-label m-2">Covid-19 QR Code Upload</label>
    <input class="form-control form-control-sm m-2" type="file" id="qrCodeFile" (change)="getHealthCertificateContentFromFile($event)" />

    <button type="submit" class="btn btn-light btn-sm m-2" (click)="getVerification()">Verify Certificate</button>

    <label for="hcertPrefixString" class="form-label m-2">Covid-19 QR Code Hcert Prefix Upload</label>
    <input class="form-control form-control-sm m-2" type="text" id="hcertPrefixString" placeholder="HCERT Prefix" #hcertPrefixInput />
    <button type="submit" class="btn btn-light btn-sm m-2" (click)="getHealthCertificateContentFromPrefix(hcertPrefixInput.value)">Decode Hcert</button>

    <label for="pemString" class="form-label m-2">Covid-19 PEM Certificate</label>
    <input class="form-control form-control-sm m-2" type="text" id="pemString" placeholder="PEM Certificate" #pemInput />
    <button type="submit" class="btn btn-light btn-sm m-2" (click)="getX509Certificate(pemInput.value)">Show Certificate</button>

    <div *ngIf="errorMessage" class="m-2 text-danger">{{ errorMessage }}</div>
    <div *ngIf="validationErrorServerResponse" class="m-2 text-danger">{{ validationErrorServerResponse | json }}</div>

    <div class="d-sm-flex align-items-center justify-content-between">
      <img class="img-fluid w-20 d-none d-sm-block m-2" src="assets/covidFakeQRCode.png" alt="lol" />
      <pre class="text-warning m-2"> {{ hcertServerResponse | json }}</pre>

      <pre class="text-warning m-2"> {{ pemCertServerResponse | json }}</pre>
    </div>

    <div>
      <pre class="text-warning m-2"> {{ hcertVerificationServerResponse | json }}</pre>
    </div>
  </section>
</div>
