<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-light">© 2022 vitoco</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex" routerLinkActive="active">
      <li class="ms-3 nav-item">
        <a class="text-light nav-link" routerLink="/about">About</a>
      </li>
      <li class="ms-3 nav-item">
        <a class="text-light nav-link" routerLink="/documentation">Documentation</a>
      </li>
      <li class="ms-3 nav-item">
        <a class="text-muted" href="https://github.com/vitoco84/decovid-19-documentation">
          <img src="assets/github.svg" width="48" height="48" alt="github" />
        </a>
      </li>
    </ul>
  </footer>
</div>
