<div class="container mt-3">
  <div class="row d-flex justify-content-center">
    <section class="text-sm-start">
      <div class="m-2 mt-4 mb-4">
        <h4>URL QR Code Generator</h4>
      </div>

      <div class="m-2">
        <label for="urlString" class="form-label">URL String</label>
        <input class="form-control form-control-sm" type="text" id="urlString" placeholder="URL String" #urlInput />
        <button type="submit" class="btn btn-light btn-sm mt-2" (click)="createURLQRCode(urlInput.value)">Create URL QR Code</button>
      </div>

      <div *ngIf="errorHandlerService.errorMessage" class="m-2 text-danger">{{ errorHandlerService.errorMessage }}</div>
      <div *ngIf="errorHandlerService.validationErrorServerResponse" class="m-2 text-danger">{{ errorHandlerService.validationErrorServerResponse | json }}</div>

      <div *ngIf="urlQrCodeResponse">
        <img class="img-fluid w-20 m-2" src="{{ urlQrCodeResponse }}" alt="url-qr-code" />
      </div>
    </section>
  </div>
</div>
