<div class="container mt-3">
  <div class="row justify-content-center">
    <section class="text-sm-start">
      <div class="row mb-3 mt-3">
        <div class="col-12">
          <h4>URL QR Code Generator</h4>
          <p class="mt-4 mb-4">Here you can generate a QR-Code providing a valid URL. Exempli gratia you could generate a QR-Code for your Company, Linkedin profile and so on.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <label for="urlString" class="form-label">URL String</label>
          <input class="form-control form-control-sm" type="text" id="urlString" placeholder="URL String" #urlInput />
          <button type="submit" class="btn btn-light btn-sm mt-2 w-100" (click)="createURLQRCode(urlInput.value)">Create URL QR Code</button>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <div *ngIf="errorHandlerService.error" class="mb-2 text-danger">{{ errorHandlerService.error }}</div>
          <div *ngIf="errorHandlerService.errorMessage" class="mb-2 text-danger">{{ errorHandlerService.errorMessage }}</div>
          <div *ngIf="errorHandlerService.validationErrorServerResponse" class="mb-2 text-danger">
            <ul>
              <li *ngFor="let errors of errorHandlerService.validationErrorServerResponse.validationErrors">{{ errors.fieldName }}: {{ errors.message }}</li>
            </ul>
          </div>
        </div>
      </div>

      <div *ngIf="urlQrCodeResponse" class="row mt-3">
        <div class="col-12 col-md-6">
          <img class="img-fluid w-50" src="{{ urlQrCodeResponse }}" alt="url-qr-code" />
        </div>
      </div>
    </section>
  </div>
</div>
