<div class="container mt-3">
  <div class="row justify-content-center">
    <section class="text-sm-start">
      <div class="row mb-3 mt-3">
        <div class="col-12">
          <h4>Health Certificate Decoder</h4>
          <p class="mt-4 mb-4">
            This Single-Web-Page Application will display all the relevant details contained in the EU and Swiss Digital COVID Health Certificate.
            <br />
            All relevant links, documentation and project repositories can be found
            <a href="https://github.com/vitoco84/decovid-19-documentation" class="link-light" target="_blank" rel="noreferrer noopener">here.</a>
          </p>
          <p class="mt-4 mb-4">
            In order to decode and see the content of a Health Certificate QR-Code, you need to upload an image (allowed formats: png, jpg, jpeg, gif) through the button below.
            <br />
            Or you can provide the plain content of the QR-Code (Health Certificate Prefix that starts with "HC1:") in the input field below and click on "Decode Hcert".
            <br />
            Please provide a good quality image. Even though there is an image processing step, there is no guarantee that the QR-Code will be found for a blurred image.
          </p>
          <p class="mt-4 mb-4">
            If you would like to verify the EU Certificate click on the "Verify EU Certificate" button for its validity and get some more information. In order to verify Swiss Covid Health
            Certificates a Bearer Token needs to be provided, which can be requested through the Swiss Federal Office of Information Technology, Systems and Telecommunication.
          </p>
          <p class="mt-4 mb-4">After the decoding process, you can switch between the raw Json content and a more human readable version with the switch button "Human Readable".</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <label for="qrCodeFile" class="form-label">Covid-19 QR Code Upload</label>
          <input class="form-control form-control-sm" type="file" id="qrCodeFile" (change)="decodeHealthCertificateContentFromFile($event)" />
          <button type="button" class="btn btn-light btn-block btn-sm mt-2 w-100" (click)="verifyHealthCertificate()">Verify EU Certificate</button>
        </div>
      </div>

      <div class="row mt-3">
        <div class="form-group col-12 col-md-6 mb-3">
          <input
            class="form-control form-control-sm"
            type="password"
            id="bearerToken"
            [(ngModel)]="bearerToken"
            placeholder="Bearer Token Required for Swiss Health Certificates Verification"
            required
            #bearerTokenInput
          />
        </div>

        <div class="form-group col-12 col-md-6 mb-3">
          <button type="button" class="btn btn-light btn-block btn-sm w-100" [disabled]="!bearerToken" (click)="verifySwissHealthCertificate(bearerTokenInput.value)">Verify Swiss Certificate</button>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-12 col-md-6 mb-3">
          <label for="hcertPrefixString" class="form-label">Covid-19 QR Code Hcert Prefix Upload</label>
          <input class="form-control form-control-sm" type="text" id="hcertPrefixString" [(ngModel)]="hcertPrefix" placeholder="HCERT Prefix" #hcertPrefixInput />
          <button type="submit" class="btn btn-light btn-sm mt-2 w-100" (click)="decodeHealthCertificateContentFromPrefix(hcertPrefixInput.value)">Decode Hcert</button>
        </div>
      </div>

      <div class="form-check form-switch mt-3">
        <input class="form-check-input" type="checkbox" id="pemStringFormatted" (click)="switchView()" />
        <label class="form-check-label" for="pemStringFormatted">Human Readable</label>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <div *ngIf="errorHandlerService.error" class="mb-2 text-danger">{{ errorHandlerService.error }}</div>
          <div *ngIf="errorHandlerService.errorMessage" class="mb-2 text-danger">{{ errorHandlerService.errorMessage }}</div>
          <div *ngIf="errorHandlerService.validationErrorServerResponse" class="mb-2 text-danger">
            <ul>
              <li *ngFor="let errors of errorHandlerService.validationErrorServerResponse.validationErrors">{{ errors.fieldName }}: {{ errors.message }}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-3">
          <div
            *ngIf="!isSwitched && !errorHandlerService.error && !errorHandlerService.errorMessage && !errorHandlerService.validationErrorServerResponse"
            class="d-sm-flex align-items-center justify-content-between"
          >
            <div *ngIf="imgSrc; else staticImage">
              <img class="img-fluid d-none d-sm-block" [src]="imgSrc" alt="uploaded-img-covid-qr-code" />
            </div>
            <ng-template #staticImage>
              <img class="img-fluid d-none d-sm-block" src="assets/covidFakeQRCode.png" alt="test-covid-qr-code" />
            </ng-template>
          </div>
        </div>
      </div>

      <div id="targetHcertServerResponse">
        <div class="row mt-3 mb-3" *ngIf="hcertServerResponse">
          <div class="col-12 col-md-6">
            <h4>Health Certificate Content</h4>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div *ngIf="!isSwitched && hcertServerResponse && !errorHandlerService.error && !errorHandlerService.errorMessage && !errorHandlerService.validationErrorServerResponse">
            <pre class="text-warning"> {{ hcertServerResponse | json }}</pre>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 mb-3">
          <button *ngIf="!isSwitched && hcertServerResponse" class="btn btn-light btn-sm" ngxClipboard [cbContent]="hcertServerResponseJson">Copy</button>
        </div>
      </div>

      <div *ngIf="isSwitched && hcertServerResponse && !errorHandlerService.error && !errorHandlerService.errorMessage && !errorHandlerService.validationErrorServerResponse">
        <div class="row">
          <div class="form-group col-12 col-md-6 mb-3">
            <label for="certificateType" class="form-label">Certificate Type</label>
            <input class="form-control form-control-sm" type="text" id="certificateType" placeholder="Certificate Type" required [(ngModel)]="certificateType" name="certificateType" />
          </div>

          <div class="form-group col-12 col-md-6 mb-3">
            <label for="schemaVersion" class="form-label">Schema Version</label>
            <input class="form-control form-control-sm" type="text" id="schemaVersion" placeholder="Schema Version" required [(ngModel)]="hcertServerResponse.hcertContent.ver" name="schemaVersion" />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12 mb-3">
            <label for="hcertPrefix" class="form-label">Hcert Raw Content</label>
            <input class="form-control form-control-sm" type="text" id="hcertPrefix" placeholder="Hcert Raw Content" required [(ngModel)]="hcertServerResponse.hcertPrefix" name="hcertPrefix" />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-12 col-md-6 mb-3">
            <label for="forname" class="form-label">Forname</label>
            <input class="form-control form-control-sm" type="text" id="forname" placeholder="Forname" required [(ngModel)]="hcertServerResponse.hcertContent.nam.gn" name="forname" />
          </div>

          <div class="form-group col-12 col-md-6 mb-3">
            <label for="surname" class="form-label">Surname</label>
            <input class="form-control form-control-sm" type="text" id="surname" placeholder="Surname" required [(ngModel)]="hcertServerResponse.hcertContent.nam.fn" name="surname" />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-12 col-md-6 mb-3">
            <label for="standardForename" class="form-label">Standardized Forename</label>
            <input
              class="form-control form-control-sm"
              type="text"
              id="standardForename"
              placeholder="Standardized Forename"
              required
              [(ngModel)]="hcertServerResponse.hcertContent.nam.gnt"
              name="standardForename"
            />
          </div>

          <div class="form-group col-12 col-md-6 mb-3">
            <label for="standardSurname" class="form-label">Standardized Surname</label>
            <input
              class="form-control form-control-sm"
              type="text"
              id="standardSurname"
              placeholder="Standardized Surname"
              required
              [(ngModel)]="hcertServerResponse.hcertContent.nam.fnt"
              name="standardSurname"
            />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12 mb-3">
            <label for="dateOfBirth" class="form-label">Date of Birth</label>
            <input class="form-control form-control-sm" type="text" id="dateOfBirth" placeholder="Date of Birth" required [(ngModel)]="hcertServerResponse.hcertContent.dob" name="dateOfBirth" />
          </div>
        </div>

        <div *ngIf="certificateType === VACCINATION">
          <div class="row">
            <div class="form-group col-12 col-md-6 mb-3">
              <label for="targetV" class="form-label">Disease or agent targeted</label>
              <input class="form-control form-control-sm" type="text" id="targetV" placeholder="Disease or agent targeted" required [(ngModel)]="hcertServerResponseContent.v[0].tg" name="targetV" />
            </div>

            <div class="form-group col-12 col-md-6 mb-3">
              <label for="countryV" class="form-label">Country of vaccination</label>
              <input class="form-control form-control-sm" type="text" id="countryV" placeholder="Country of vaccination" required [(ngModel)]="hcertServerResponseContent.v[0].co" name="countryV" />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-12 col-md-6 mb-3">
              <label for="certIdentifierV" class="form-label">Unique Certificate Identifier (UVCI)</label>
              <input
                class="form-control form-control-sm"
                type="text"
                id="certIdentifierV"
                placeholder="Unique Certificate Identifier (UVCI)"
                required
                [(ngModel)]="hcertServerResponseContent.v[0].ci"
                name="certIdentifierV"
              />
            </div>

            <div class="form-group col-12 col-md-6 mb-3">
              <label for="numberOfDoses" class="form-label">Number in a series of doses</label>
              <input
                class="form-control form-control-sm"
                type="text"
                id="numberOfDoses"
                placeholder="Number in a series of doses"
                required
                [(ngModel)]="hcertServerResponseContent.v[0].dn"
                name="numberOfDoses"
              />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-12 col-md-6 mb-3">
              <label for="vaccinationDate" class="form-label">Vaccination Date</label>
              <input
                class="form-control form-control-sm"
                type="text"
                id="vaccinationDate"
                placeholder="Vaccination Date"
                required
                [(ngModel)]="hcertServerResponseContent.v[0].dt"
                name="vaccinationDate"
              />
            </div>

            <div class="form-group col-12 col-md-6 mb-3">
              <label for="issuerV" class="form-label">Certificate Issuer</label>
              <input class="form-control form-control-sm" type="text" id="issuerV" placeholder="Certificate Issuer" required [(ngModel)]="hcertServerResponseContent.v[0].is" name="issuerV" />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-12 col-md-6 mb-3">
              <label for="manufacturer" class="form-label">Vaccine marketing authorisation holder or manufacturer</label>
              <input
                class="form-control form-control-sm"
                type="text"
                id="manufacturer"
                placeholder="Vaccine marketing authorisation holder or manufacturer"
                required
                [(ngModel)]="hcertServerResponseContent.v[0].ma"
                name="manufacturer"
              />
            </div>

            <div class="form-group col-12 col-md-6 mb-3">
              <label for="vaccineProduct" class="form-label">Vaccine product</label>
              <input
                class="form-control form-control-sm"
                type="text"
                id="vaccineProduct"
                placeholder="Vaccine product"
                required
                [(ngModel)]="hcertServerResponseContent.v[0].mp"
                name="vaccineProduct"
              />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-12 col-md-6 mb-3">
              <label for="overallNumberOfDoses" class="form-label">The overall number of doses in the series</label>
              <input
                class="form-control form-control-sm"
                type="text"
                id="overallNumberOfDoses"
                placeholder="The overall number of doses in the series"
                required
                [(ngModel)]="hcertServerResponseContent.v[0].sd"
                name="overallNumberOfDoses"
              />
            </div>

            <div class="form-group col-12 col-md-6 mb-3">
              <label for="vaccineProphylaxis" class="form-label">Vaccine or prophylaxis</label>
              <input
                class="form-control form-control-sm"
                type="text"
                id="vaccineProphylaxis"
                placeholder="Vaccine or prophylaxis"
                required
                [(ngModel)]="hcertServerResponseContent.v[0].vp"
                name="vaccineProphylaxis"
              />
            </div>
          </div>
        </div>

        <div *ngIf="certificateType === RECOVERY">
          <div class="row">
            <div class="form-group col-12 col-md-6 mb-3">
              <label for="targetR" class="form-label">Disease or agent targeted</label>
              <input class="form-control form-control-sm" type="text" id="targetR" placeholder="Disease or agent targeted" required [(ngModel)]="hcertServerResponseContent.r[0].tg" name="targetR" />
            </div>

            <div class="form-group col-12 col-md-6 mb-3">
              <label for="countryR" class="form-label">Country of recovery</label>
              <input class="form-control form-control-sm" type="text" id="countryR" placeholder="Country of recovery" required [(ngModel)]="hcertServerResponseContent.r[0].co" name="countryR" />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-12 col-md-6 mb-3">
              <label for="firstPositiveDateResult" class="form-label">Date of the holder's first positive test result</label>
              <input
                class="form-control form-control-sm"
                type="text"
                id="firstPositiveDateResult"
                placeholder="Date of the holder's first positive test result"
                required
                [(ngModel)]="hcertServerResponseContent.r[0].fr"
                name="firstPositiveDateResult"
              />
            </div>

            <div class="form-group col-12 col-md-6 mb-3">
              <label for="validFrom" class="form-label">Certificate valid from</label>
              <input class="form-control form-control-sm" type="text" id="validFrom" placeholder="Certificate valid from" required [(ngModel)]="hcertServerResponseContent.r[0].df" name="validFrom" />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-12 col-md-6 mb-3">
              <label for="validTo" class="form-label">Certificate valid to</label>
              <input class="form-control form-control-sm" type="text" id="validTo" placeholder="Certificate valid to" required [(ngModel)]="hcertServerResponseContent.r[0].du" name="validTo" />
            </div>

            <div class="form-group col-12 col-md-6 mb-3">
              <label for="issuerR" class="form-label">Certificate Issuer</label>
              <input class="form-control form-control-sm" type="text" id="issuerR" placeholder="Certificate Issuer" required [(ngModel)]="hcertServerResponseContent.r[0].is" name="issuerR" />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-12 col-md-6 mb-3">
              <label for="certIdentifierR" class="form-label">Unique Certificate Identifier (UVCI)</label>
              <input
                class="form-control form-control-sm"
                type="text"
                id="certIdentifierR"
                placeholder="Unique Certificate Identifier (UVCI)"
                required
                [(ngModel)]="hcertServerResponseContent.r[0].ci"
                name="certIdentifierR"
              />
            </div>
          </div>
        </div>

        <div *ngIf="certificateType === TESTING">
          <div class="row">
            <div class="form-group col-12 col-md-6 mb-3">
              <label for="targetT" class="form-label">Disease or agent targeted</label>
              <input class="form-control form-control-sm" type="text" id="targetT" placeholder="Disease or agent targeted" required [(ngModel)]="hcertServerResponseContent.t[0].tg" name="targetT" />
            </div>

            <div class="form-group col-12 col-md-6 mb-3">
              <label for="countryT" class="form-label">Country of test</label>
              <input class="form-control form-control-sm" type="text" id="countryT" placeholder="Country of test" required [(ngModel)]="hcertServerResponseContent.t[0].co" name="countryT" />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-12 col-md-6 mb-3">
              <label for="typeOfTest" class="form-label">Type of test</label>
              <input class="form-control form-control-sm" type="text" id="typeOfTest" placeholder="Type of test" required [(ngModel)]="hcertServerResponseContent.t[0].tt" name="typeOfTest" />
            </div>

            <div class="form-group col-12 col-md-6 mb-3">
              <label for="nucleicAcidAmplName" class="form-label">Test name of the nucleic acid amplification test (NAAT)</label>
              <input
                class="form-control form-control-sm"
                type="text"
                id="nucleicAcidAmplName"
                placeholder="Test name of the nucleic acid amplification test (NAAT)"
                required
                [(ngModel)]="hcertServerResponseContent.t[0].nm"
                name="nucleicAcidAmplName"
              />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-12 col-md-6 mb-3">
              <label for="testDeviceManufacturer" class="form-label">Rapid antigen test (RAT) device identifier</label>
              <input
                class="form-control form-control-sm"
                type="text"
                id="testDeviceManufacturer"
                placeholder="Rapid antigen test (RAT) device identifier"
                required
                [(ngModel)]="hcertServerResponseContent.t[0].ma"
                name="testDeviceManufacturer"
              />
            </div>

            <div class="form-group col-12 col-md-6 mb-3">
              <label for="sampleCollectionDate" class="form-label">Date and time of the test sample collection</label>
              <input
                class="form-control form-control-sm"
                type="text"
                id="sampleCollectionDate"
                placeholder="Date and time of the test sample collection"
                required
                [(ngModel)]="hcertServerResponseContent.t[0].sc"
                name="sampleCollectionDate"
              />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-12 col-md-6 mb-3">
              <label for="testResult" class="form-label">Test Result</label>
              <input class="form-control form-control-sm" type="text" id="testResult" placeholder="Test Result" required [(ngModel)]="hcertServerResponseContent.t[0].tr" name="testResult" />
            </div>

            <div class="form-group col-12 col-md-6 mb-3">
              <label for="testingCentre" class="form-label">Testing centre or facility</label>
              <input
                class="form-control form-control-sm"
                type="text"
                id="testingCentre"
                placeholder="Testing centre or facility"
                required
                [(ngModel)]="hcertServerResponseContent.t[0].tc"
                name="testingCentre"
              />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-12 col-md-6 mb-3">
              <label for="issuerT" class="form-label">Certificate Issuer</label>
              <input class="form-control form-control-sm" type="text" id="issuerT" placeholder="Certificate Issuer" required [(ngModel)]="hcertServerResponseContent.t[0].is" name="issuerT" />
            </div>

            <div class="form-group col-12 col-md-6 mb-3">
              <label for="certIdentifierT" class="form-label">Unique Certificate Identifier (UVCI)</label>
              <input
                class="form-control form-control-sm"
                type="text"
                id="certIdentifierT"
                placeholder="Unique Certificate Identifier (UVCI)"
                required
                [(ngModel)]="hcertServerResponseContent.t[0].ci"
                name="certIdentifierT"
              />
            </div>
          </div>
        </div>

        <div class="row mt-3 mb-3">
          <div class="col-12 col-md-6">
            <h4>Signature Details</h4>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-12 col-md-6 mb-3">
            <label for="hcertKID" class="form-label">Key Identifier (KID)</label>
            <input class="form-control form-control-sm" type="text" id="hcertKID" placeholder="Key Identifier (KID)" required [(ngModel)]="hcertServerResponse.hcertKID" name="hcertKID" />
          </div>

          <div class="form-group col-12 col-md-6 mb-3">
            <label for="hcertAlgo" class="form-label">Algorithm</label>
            <input class="form-control form-control-sm" type="text" id="hcertAlgo" placeholder="Algorithm" required [(ngModel)]="hcertServerResponse.hcertAlgo" name="hcertAlgo" />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-12 col-md-6 mb-3">
            <label for="hcertIssuer" class="form-label">Issuer</label>
            <input class="form-control form-control-sm" type="text" id="hcertIssuer" placeholder="Issuer" required [(ngModel)]="hcertServerResponse.hcertIssuer" name="hcertIssuer" />
          </div>

          <div class="form-group col-12 col-md-6 mb-3">
            <label for="hcertSignature" class="form-label">Signature</label>
            <input class="form-control form-control-sm" type="text" id="hcertSignature" placeholder="Signature" required [(ngModel)]="hcertServerResponse.hcertSignature" name="hcertSignature" />
          </div>
        </div>

        <div class="row mt-3 mb-3">
          <div class="col-12 col-md-6">
            <h4>Health Certificate Timestamp</h4>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-12 col-md-6 mb-3">
            <label for="hcertExpirationTime" class="form-label">Expiration Time</label>
            <input
              class="form-control form-control-sm"
              type="text"
              id="hcertExpirationTime"
              placeholder="Expiration Time"
              required
              [(ngModel)]="hcertServerResponse.hcertTimeStamp.hcertExpirationTime"
              name="hcertExpirationTime"
            />
          </div>

          <div class="form-group col-12 col-md-6 mb-3">
            <label for="hcertIssuedAtTime" class="form-label">Issued At</label>
            <input
              class="form-control form-control-sm"
              type="text"
              id="hcertIssuedAtTime"
              placeholder="Issued At"
              required
              [(ngModel)]="hcertServerResponse.hcertTimeStamp.hcertIssuedAtTime"
              name="hcertIssuedAtTime"
            />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-12 col-md-6 mb-3">
            <label for="isHcertExpired" class="form-label">Is Expired</label>
            <input
              class="form-control form-control-sm"
              type="text"
              id="isHcertExpired"
              placeholder="Is Expired"
              required
              [style.color]="hcertServerResponse.hcertTimeStamp.isHcertExpired === true ? 'green' : 'red'"
              [(ngModel)]="hcertServerResponse.hcertTimeStamp.isHcertExpired"
              name="isHcertExpired"
            />
          </div>
        </div>
      </div>

      <div id="targetHcertVerificationServerResponse">
        <div class="row mt-3 mb-3" *ngIf="hcertVerificationServerResponse">
          <div class="col-12 col-md-6">
            <h4>Health Certificate Verification Content</h4>
          </div>
        </div>
      </div>

      <div
        *ngIf="!isSwitched && !errorHandlerService.error && !errorHandlerService.errorMessage && !errorHandlerService.validationErrorServerResponse && hcertVerificationServerResponse"
        class="d-sm-flex align-items-center justify-content-between"
      >
        <pre class="text-warning"> {{ hcertVerificationServerResponse | json }}</pre>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 mb-3">
          <button *ngIf="!isSwitched && hcertVerificationServerResponse" class="btn btn-light btn-sm" ngxClipboard [cbContent]="hcertVerificationServerResponseJson">Copy</button>
        </div>
      </div>

      <div
        *ngIf="
          isSwitched && hcertServerResponse && hcertVerificationServerResponse && !errorHandlerService.error && !errorHandlerService.errorMessage && !errorHandlerService.validationErrorServerResponse
        "
      >
        <div class="row">
          <div class="form-group col-12 col-md-6 mb-3">
            <label for="isHcertVerified" class="form-label">Is Hcert Verified</label>
            <input
              class="form-control form-control-sm"
              type="text"
              id="isHcertVerified"
              placeholder="Is Hcert Verified"
              required
              [style.color]="hcertVerificationServerResponse.isHcertVerified === true ? 'green' : 'red'"
              [(ngModel)]="hcertVerificationServerResponse.isHcertVerified"
              name="isHcertVerified"
            />
          </div>

          <div class="form-group col-12 col-md-6 mb-3">
            <label for="isTrustChainVerified" class="form-label">Is Trust Chain Verified</label>
            <input
              class="form-control form-control-sm"
              type="text"
              id="isTrustChainVerified"
              placeholder="Is Trust Chain Verified"
              required
              [style.color]="hcertVerificationServerResponse.isTrustChainVerified === true ? 'green' : 'red'"
              [(ngModel)]="hcertVerificationServerResponse.isTrustChainVerified"
              name="isTrustChainVerified"
            />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-12 col-md-6 mb-3">
            <label for="certRawContent" class="form-label">Certificate</label>
            <input
              class="form-control form-control-sm"
              type="text"
              id="certRawContent"
              placeholder="Certificate"
              required
              [(ngModel)]="hcertVerificationServerResponse.certRawContent"
              name="certRawContent"
            />
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
